<!DOCTYPE html>
<html>
<head><title>Home</title></head>

<link rel="stylesheet" href="/styles.css">

<body>
  <h1>Welcome to Daily News Feed</h1>
  <p><a href="/login">Login</a> or <a href="/signup">Sign Up</a></p>
</body>
</html>